pyrogram==2.0.106
pyromod==1.5
psutil
PySocks
pytz
python-dotenv
pycryptodome
pyaes
requests
yt-dlp
ffmpeg
beautifulsoup4==4.9.3
bs4==0.0.1
aiohttp
aiofiles
mediainfo
cloudscraper
helper
soupsieve
urllib3
websockets
async-lru
certifi
charset-normalizer
idna
mutagen
